<form action="/<%= user._id %>/posts" method="post">
  <label for="content"></label>
  <textarea id="content" name="content" rows="8" cols="80"></textarea>

  <button type="submit">Add New Post</button>
</form>
